---
import Layout from '../layouts/main.astro';
import SiteHero from '../components/SiteHero.astro'

---

<Layout title="About | Shawn Grover" description="About Shawn">
	<SiteHero 
		name="Shawn Grover" 
		tagline="So you want to know more..." 
	/>
			

	<section class="mb-12 p-4 max-w-xs sm:max-w-xl mx-auto">
		<h2 class="">Background</h2>
		
		<p>
			Nestled just north of Calgary, Alberta, Canada, I have the privilege of seeing both the prairies and the mountains almost daily. This unique location allows me to appreciate the tranquility of nature while still being close enough to dive into the vibrant life of the big city.						
		</p>
		<p>
			My passion for creating spans from traditional woodworking to utilizing modern laser engravers, cutters, and 3D printers. I find great satisfaction in bringing ideas to life, especially through technology. Whether it's coding software for business solutions or crafting physical items, I revel in the process of making things work. Home improvement projects often catch my interest, and I occasionally dabble in art. Additionally, I enjoy playing the guitar, finding joy in the creative process, even if my guitar skills are more enthusiastic than expert.
		</p>

		<h2>Career</h2>
		<p>
			My career path has been anything but traditional. After serving in the Canadian Forces Reserves, I ventured into various roles in the private sector, including network engineering and support, software development, project management, teaching, business management, and team leadership. While I have received post-secondary education, much of my technical expertise is self-taught or acquired on the job.  This self-directed learning approach has often resulted in a depth and breadth of knowledge that rivals or exceeds that of formal education. It has given me the flexibility to adapt and master new technologies quickly, often ahead of formal training programs.
		</p>
		<p>
			I thrive on tackling complex projects, automating processes, and overcoming challenging problems. Whether collaborating with a focused team or managing projects independently, I am dedicated to achieving excellence and delivering results.
		</p>


	</section>
</Layout>

<style>
	h2 {
		font-size: 30px;
	}
	p {
		margin-bottom: 1em;
	}
</style>
