---
import Icon from '../components/Icon.astro'
---

<section class="cta-contact bg-emerald-700 p-8">
    <div class="flex items-center justify-between max-w-xs mx-auto sm:max-w-xl">
        <h1 class="text-3xl">
            Lets talk
        </h1>
        <a href="mailto:online@shawngrover.ca" class="btn hover:bg-sky-700 p-2">
            Send me a message
            <Icon name="paper-plane-tilt" width="20" height="20" color="#ffaa11"/>
        </a>
    </div>
</section>