---

---

<div class="menu-header">
    <a href="/" class="site-title">
        
        Shawn Grover
    </a>
    <menu-button>
        <template>
            <button class="menu-button" aria-expanded="false">
                <span class="sr-only">Menu</span>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about/">About</a></li>
                </ul>
            </button>
        </template>
    </menu-button>
</div>