---
import { Image } from 'astro:assets'
import AvatarImage from '../images/avatar.png'
import Icon from "../components/Icon.astro"

const { name, tagline } = Astro.props;

---

<section id="hero" class="relative py-12 lg:py-24">
    <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex flex-col lg:flex-row items-center lg:space-x-8">
            <div class="lg:w-1/2 text-center lg:text-left lg:mb-0">
                <h1 class="text-4xl lg:text-5xl lg:text-right font-bold text-white mb-4">
                    {name}
                </h1>
                <p class="text-lg lg:text-2xl lg:text-right text-white mb-6">
                    {tagline}
                </p>
                <div class="flex-none mr-4 flex space-x-2 sm:space-x-4 justify-center lg:justify-end mb-6">
                    <div class="icon-wrapper">
                        <a href="https://github.com/grovercoder" target="_blank" aria-label="View Shawn's GitHub profile.">
                            <Icon name="github-logo" width="40" height="40" color="#ffffff" />
                        </a>
                    </div>
                    <div class="icon-wrapper">
                        <a href="https://www.linkedin.com/in/shawngrover/" target="_blank" aria-label="View Shawn's LinkedIn profile.">
                            <Icon name="linkedin-logo" width="40" height="40" color="#ffffff" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="lg:w-1/2 flex justify-center lg:justify-end">
                <Image src={AvatarImage} alt="Avatar for Shawn Grover" class="w-full max-w-xs lg:max-w-md rounded-3xl shadow-lg shadow-slate-500">
            </div>
        </div>
    </div>
</section>

<style>
    .icon-wrapper {
        transition: transform 0.2s;
    }
    .icon-wrapper:hover {
      transform: scale(1.2); /* Scale the icon on hover */
    }

</style>